#society-regInfo{
    background-color: white;
    padding-bottom: 1px;
}

#society-regInfo h1{
    font-size: 2rem;
    color: #560216;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-left: 30px;
    padding-top: 5%;
    font-weight: bold;
}
.content-scroll-view a{
    text-decoration: underline;
    color: #560216 !important;
    font-weight: 550;
}
