:root {
    --header-height: 3.5rem;
    /* 56px */

    /* ============= Colors ============ */
    --primary-color-hue: 352;
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 92%);
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, 17%);

    /* =============== Fonts and typography =============== */
    --body-font: 'Ubuntu Mono', monospace;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* =============== Font weight =============== */
    --font-medium: 400;
    --font-semi-bold: 600;

    /* =============== Margins Bottom =============== */
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    /* =============== Card padding =============== */
    --card-padding: 1.9rem 0.95rem;

    /* =============== Border radius =============== */
    --border-radius: 1.25rem;

    /* =============== Box shadow =============== */
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

/* =============== Media quiry for responsive =============== */
@media screen and (max-width: 992px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    }
}

/* =================== Portfolio ================= */
.portfolio .portfolio-filter {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: var(--m-2-5);
}

.portfolio .portfolio-filter button {
    border: none;
    background-color: transparent;
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
    margin: 0 var(--m-0-75);
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s;
}

.portfolio .portfolio-filter button.active {
    color: var(--color-primary);
    position: relative;
}

.portfolio .work-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.portfolio .portfolio-filter button.active::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 0.3rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.portfolio-item {
    width: 200px;
    margin-bottom: var(--m-1-5);
}

.portfolio-item img {
    border: none;
    border-radius: 0;
    width: 100%;
}

.portfolio-item-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-item .mask {
    /* background: rgba(0, 0, 0, .9); */
    background-color: #560216;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
}

.portfolio-item-inner:hover .mask {
    opacity: 0.9;
}

.portfolio-item .term {
    color: #fff;
    background: var(--color-primary);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: var(--m-1-5);
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transition: o.3s;
    transform: translateY(-40px);
}

.portfolio-item h3 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transition: 0.3s;
    transform: translateY(30px);
    opacity: 0;
}

.portfolio-item .more-button {
    color: #fff;
    position: absolute;
    bottom: var(--m-1-5);
    left: var(--m-1-5);
    font-size: 1.6rem;
    display: block;
    background: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    transition: 0.3s;
    opacity: 0;
}

.portfolio-item-inner:hover h3,
.portfolio-item-inner:hover span {
    opacity: 1;
    transform: translateY(0);
}
